body {
  background-color: #ffebcd;
  font-family: KeeponTruckin;
  text-align: center;
}

div {
  border: 5px solid #e9967a;
  display: inline-block;
}

img {
  border-radius: 50%;
  border: 10px solid 	#cd5c5c;
}

.inspiration {
  background-color: 	#66cdaa;
  height: 1000px;
  width: 1000px;
  display: inline-block;
}

#title {
  font-size: 50px;
  background-color: #e9967a;
  color: #cd5c5c;
  margin: auto;
  padding: 20px;
}

#title:hover{
  letter-spacing: 1em;
  }

.palette {
  background-color: white;
}

.dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

.dot.one {
  background-color: #ffebcd;
  }

.dot.two {
  background-color: #e9967a;
  }

.dot.three {
  background-color: #cd5c5c;
  }

.dot.four {
  background-color: #66cdaa;
  }

#square {
  height: 100px;
  width: 100px;
  background-color: #e9967a;
  display: inline-block;
}
.palette:hover{
  height: 400px;
  width: 400px;
}
